<h1>Edit Article</h1>
<div data-controller="articles">
  <%= form_for :article, url: articles_path, data: {action: "articles#addbody"} do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, 'data-target' => "articles.title", 'data-action' => 'keyup->articles#countCharacters' %>
      Characters: <span data-target='articles.counter'><%= @article&.title&.to_s&.size %></span>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to '<- Back', articles_path %>
</div>
    

    