<h1>New Article</h1>
<div data-controller="articles">
  <%= form_for :article, url: articles_path, data: {action: "articles#addbody"} do |f| %>

    <% if not @article.nil? and @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= flash[:notice] %><br>
    </p>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, 'data-articles-target' => "title", 'data-action' => 'keyup->articles#countCharacters' %>
      Characters: <span data-articles-target='counter'><%= @article&.title&.to_s&.size %></span>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>

  <%= link_to '<- Back', articles_path %>
</div>
    

    