<p>
  <strong>Title:</strong>
  <%= @article&.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article&.text %>
</p>

<h2>Posts</h2>

<div data-controller="posts">
  <%= form_tag article_posts_path(@article.id), method: :post do %>
    <label>Post title:</label><br>
    <textarea id="post_title" name="post[body]" data-posts-target="body" ></textarea><br>

    <input type="submit" value="Submit Post" data-action="posts#addBody">
  <% end %>


  <%= render 'articles/last_post' %>


  <%= link_to '<- Back', articles_path %>

  <button data-action="posts#showAll">Show Older Posts</button>

  <div data-posts-target="show" style="visibility:hidden">
    <%= render 'articles/all' %>
  </div>
</div>

