<tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= button_to 'Show', article_path(:id => article.id), :method => :get %></td>
        <td><%= button_to 'Edit', edit_article_path(:id => article.id), :method => :get %></td>
        <td><%= button_to 'Destroy', article_path(:id => article.id), :method => :delete %></td>
      </tr>
    <% end %>
</tbody>